<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>게시물 홈</title>
</th:block>
<body>
<th:block layout:fragment="content">
        <h1>HELLO Board</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/board/new">게시글 작성</a>
            <a class="btn btn-lg btn-secondary" href="/board/list">게시판 목록</a>
        </p>
</th:block>
</body>
</html>